*{
  scroll-behavior: smooth;
  

}
.cta-btn:hover{
-webkit-box-shadow:0px 0px 23px 5px rgba(223,255,155,0.37);
-moz-box-shadow: 0px 0px 23px 5px rgba(223,255,155,0.37);
box-shadow: 0px 0px 23px 5px rgba(223,255,155,0.37);
 
}
.m2-btn:hover{
  background: rgb(15, 15, 15) !important;
}
#color-pallate{
  color: #dfff98;
  color: white;
  background: linear-gradient(262deg,rgba(10, 3, 3, 0.984) 5%, rgba(224, 218, 218, 0.489) 100%);
  color: black;
  color: #808080;
   color: #9a9a9a;
   color: #d5d5d5cb;
  background-color: #ffffff34;
  background-color: #c6ff4bba;
}
header{
    background-color: #6969693e;
    backdrop-filter: blur(10px);    
  /* -webkit-backdrop-filter: blur(10px); */
  border: 1px solid rgb(223, 255, 176);

  position: fixed;
    
}

button{
    cursor: pointer;
    border-radius: 4px !important;
    /* background-color: #e0ff9b; */
    
    
}
html, body{
  /* /* max-height: 100vw !important; */
  overflow-x: hidden !important; 
  /* background-color: rgb(0, 0, 0)  ; */
  background-color: black;
}


.model-viewer{
  /* border: 1px solid black; */

  position: relative;
  right: 60%;


z-index: 1;
  border: 2px solid rgba(0, 0, 255, 0);


}

.hero-section{
  /* background-color: #d0ff00 !important;  */
}


.sunlight1{
  width: 600px ;
  height: 400px;
     height: 100vh;
    width: 120vh;
 position: absolute;
    z-index: 0; 
    right: 0%;
    top: 0%;
    background-image: radial-gradient(closest-side, #cbff5b77, rgba(0, 0, 0, 0));

}
.sunlight2{
  width: 800px ;
  height: 400px;
     height: 100vh;
    width: 120vh;
 position: absolute;
    z-index: 0; 
     left: 25%;
    background-image: radial-gradient(closest-side, #cbff5b31, rgba(0, 0, 0, 0));

}
.sunlight3{
  width: 800px ;
  height: 400px;
     height: 100vh;
    width: 120vh;
 position: absolute;
    z-index: 0; 
     left: 40%;
    top: 440%;
    /* border: 2px solid red; */
    background-image: radial-gradient(closest-side, #cbff5b31, rgba(0, 0, 0, 0));

}
.sunlight4{
  width: 800px ;
  height: 400px;
     height: 100vh;
    width: 120vh;
 position: absolute;
    z-index: 0; 
     left: -10%;
     
    background-image: radial-gradient(closest-side, #cbff5b31, rgba(0, 0, 0, 0));

}
.sunlight5{
  width: 900vw ;
  height: 400px;
     height: 100vh;
    width: 120vh;
 position: absolute;
    z-index: 0; 
     left: 25%;
     bottom: 40%;
     
    background-image: radial-gradient(closest-side, #cbff5b52, rgba(0, 0, 0, 0));

}
.sunlight6{
  width: 900vw ;
  height: 400px;
     height: 100vh;
    width: 120vh;
 position: absolute;
    z-index: 0; 
   left: 25%;
   top: 160%;
     
    background-image: radial-gradient(closest-side, #cbff5b31, rgba(0, 0, 0, 0));

}
.sunlight7{
  height: 40vh;
  width: 100%;
  position: absolute;
background: linear-gradient(358deg,rgba(223, 255, 152, 0) 20%, rgba(222, 255, 152, 0.285) 80%);
}
.vedio{
    padding: 1.5rem;
  border-radius: 1.3rem !important;
background: #2A7B9B;
background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(137, 10, 255, 1) 26%, rgba(255, 99, 99, 1) 53%, rgba(196, 59, 59, 1) 75%, rgba(237, 221, 83, 1) 100%);
}
.sec1l{ 
  padding: 1.5rem;
  border-radius: 1.3rem !important;
background: #2A7B9B;
background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(137, 10, 255, 1) 26%, rgba(255, 99, 99, 1) 53%, rgba(196, 59, 59, 1) 75%, rgba(237, 221, 83, 1) 100%);
}
/* 
body::-webkit-scrollbar {
  display: none;
} */

/* google fonts */
.logo {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

